.category{
    flex: 1;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
}
.cheader{
    display: flex;
    justify-content: space-between;
    padding: 6px;
    height: 8%;
    /* flex: 0.05; */
    /* height: 10%; */
    background-color: bisque;
}
.ccontent{
    /* flex: 0.95; */
    /* height: 60%; */
    /* height: 93%; */
    /* flex: 1; */
    /* height: 90%; */
    /* height: 673px; */
    /* height: 500px; */
    flex: 1;
    /* height: 400px; */
    /* overflow: scroll; */
    /* background-color: black; */
    display: grid;
    place-items: center;
    /* background-color: blue; */
    background-color: aqua;

    
}
.ccin{    
    /* display: flex;
    flex-direction: column; */
    /* height: 50%; */
    /* flex: 1; */
    /* height: 600px; */
    /* flex: 0.7; */
    /* overflow: scroll;*/
    height: 673px;
    width: 100%;
    overflow: scroll;
    /* background-color: rgb(175, 163, 163); */
    background-color: yellow;
} 
