.PicCard{
    position: relative;    
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    background-color: black;
    display: grid;
    place-items: center;
}
.pcancel{
    position: absolute;
    right: 6px;
    top: 6px;
    cursor: pointer;
    background-color: white;
    border-radius: 15px;
    display: grid;
    place-items: center;
}

