.sidebar{
    flex: 0.15;
    display: flex;
    flex-direction: column;
    
    border-right-color: rgb(151, 42, 42);
    border-right-style: solid;
    border-right-width: 1px;
}
.link{
    color: white;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    border-radius: 5px;
}
.link:hover{
    background-color: #333;
    cursor: pointer;
}
.select{
    background-color: #333;
}